
<%-include('plantillas/cabecera', {titulo: 'ejecutar_etl'})%>

<%-include ('plantillas/navbar') %>


<div class="container" style="max-width: 450px"> 


    

      
          <table class="table table-borderless">
            <thead>
              <tr><h4>Lista de ETLs</h4></tr>
              <hr>
            </thead>
            <tbody>
              <h6><%=mensaje %></h6>
            </tbody>
          </table>

</div>


</body>
</html>