
<%-include('plantillas/cabecera', {titulo: 'credenciales'})%>
<%-include('plantillas/navbar') %>


        <!--------------------- FORMULARIO PARA INSERTAR LAS CREDENCIALES A LA BASE DE DATOS---------------------- -->
        
        <div class="container">
            <h4><%=mensaje %></h4>
        </div>

</body>
</html>