
<%-include('plantillas/cabecera', {titulo: 'credenciales'})%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Credenciales</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>












        <!-- ================================================================================================================================================ -->
        <!--                     CONSTAINER PARA EL PROCESO DE CONVERSION DE LOS CAMPOS DE LA TABLA SELECCIONADA -->
        <!-- ================================================================================================================================================ -->

          <div class="container" style="max-width: 900px">
            <h1>logrado</h1>
          </div>
        

</body>
</html>